*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a{
    text-decoration: none;
}

.grid-smartphone{
    display: none;
}

.grid-area-login-down{ 
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    row-gap: 8px;
}

.grid-area-login{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 300px;
}

.grid-area-login img{ 
    width: 200px;
}

.grid-area-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    row-gap: 10px;
    padding-bottom: 15px;
}

.grid-area-form form input{
    width: 250px;
    height: 30px;
    padding-left: 5px;
}

.grid-area-form form input[type="button"]{
    margin-top: 5px;
    width: 250px;
    background-color: #AFDCF9;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}

.grid-area-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2rem;
    margin-top: 10px;
}

.grid-area-link a{
    color: #fff;
}

.facebook-link{
    font-weight: bold;
    font-size: 1rem;
    background-color: #0095F6;
    width: 257px;
    border-radius: 4px;
    text-align: center;
    padding-top: 2px;
}

.forgot-pass{
    font-size: .8rem;
    margin-left: 150px;
}

.grid-area-create-account{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.grid-area-create-account p{
    padding: 5px;
}

.grid-area-create-account a{
    color: #0095f6;
    font-weight: bold;
}

.grid-area-app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 20px auto 20px;
}

.grid-area-button a img{
    width: 125px;
    height: 40px;
    margin-top: 25px;
}

.grid-link-footer{
    width: 90vw;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    font-size: .8rem;
    padding: 5px;
}

.grid-link-footer a{
    margin: 3px;
    display: inline-flex;
    color: #8e8e8e;
}

.trace-word{ 
    margin: 30px auto 50px;
    display: flex;
    align-items: center;
    
    width: 300px;
}

.text-alone{
    margin-top: 10px;
    color: #8e8e8e;
}

.trace{  
    flex-grow: 1;
    flex-shrink: 1;
    background-color: #dbdbdb;
    height: 1px;
    position: relative;
    top: .20em;
    margin: 0 20px;
}

.fab::before{
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
}

.fa-facebook-square::before{
    content: "\f082";
}

.fa-instagram-square::before{
    content: "\e055";
}

@media(min-width: 370px){

    footer{
        text-align: center;
    }

    .grid-link-footer{
        width: 350px;
        padding: 5px;
    }
}

@media(min-width: 760px){

    footer{
        text-align: center;
    }

    .grid-area-login{
        padding: 20px 0;
        margin-top: 50px;
        border: 1px solid #dbdbdb;
    }

    .grid-area-create-account{
        border: 1px solid #dbdbdb;
        padding: 5px 37px;
    }

    .grid-link-footer{
        width: 550px;
        padding: 20px 10px;
    }
}

@media(min-width: 1000px){
    .contents{ 
        display: flex;
        align-items: center;
        justify-content: center;
        grid-template-columns: auto auto;
        column-gap: 20px;
        padding: 20px 0;
    }

    .grid-smartphone{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .grid-smartphone img{
        height: 580px;
        width: 300px;
    }

    .grid-area-login-down{ 
        height: 600px;

        margin: 0;
        padding: 0 20px;
    }

    .grid-area-login{
        border: 1px solid #dbdbdb;
        padding: 10px 12px;
    }

    .grid-area-create-account{
        border: 1px solid #dbdbdb;
        padding: 15px 36px;
    }

    .trace-word{
        margin: 10px auto 10px;
    }

    .grid-area-form form{
        padding-bottom: 0;
    }
}